<ELEMENT class="EXAMPLE_BUTTON_LARGE">Large button</ELEMENT>
<a class="EXAMPLE_BUTTON_DEFAULT">Regular button</a>
<div class="EXAMPLE_BUTTON_SMALL">Small button</div>
<input type="button" value="Mini button" class="EXAMPLE_BUTTON_MINI">
