<section class="display-flex">

    <div class="EXAMPLE_BUTTON_DROPDOWN_1 EXAMPLE_BUTTON_DROPDOWN_WITH_DYNAMIC_DEMO_11">
        <a class="EXAMPLE_BUTTON_BASE" onclick="toggleClass(`EXAMPLE_BUTTON_DROPDOWN_WITH_DYNAMIC_DEMO_11`, `open`)">Action <element class="DROPDOWN_CARET_ICON"></element></a>
        <span>
            <a>Action 1</a>
            <a>Action 2</a>
        </span>
    </div>

    <div class="EXAMPLE_BUTTON_DROPDOWN_2 EXAMPLE_BUTTON_DROPDOWN_WITH_DYNAMIC_DEMO_2">
        <div class="EXAMPLE_GROUP_SOME_BUTTONS">
            <a class="EXAMPLE_BUTTON_PRIMARY">Action</a>
            <a class="EXAMPLE_BUTTON_PRIMARY" onclick="toggleClass(`EXAMPLE_BUTTON_DROPDOWN_WITH_DYNAMIC_DEMO_2`, `SHOW_MENU`)"> <span class="DROPDOWN_CARET_ICON"></span></a>
        </div>
        <ul>
            <li><a>Action 1</a></li>
            <li><a>Action 2</a></li>
            <hr class="EXAMPLE_DROPDOWN_ITEM_DIVIDER">
            <li><a>Action 3</a></li>
            <li><a>Action 4 with very very very very very long text</a></li>
        </ul>
    </div>

    <div class="EXAMPLE_BUTTON_DROPDOWN_3 EXAMPLE_BUTTON_DROPDOWN_WITH_DYNAMIC_DEMO_3">
        <div class="EXAMPLE_GROUP_SOME_BUTTONS">
            <a class="EXAMPLE_BUTTON_SECONDARY">Menu</a>
            <a class="EXAMPLE_BUTTON_SECONDARY" onclick="toggleClass(`EXAMPLE_BUTTON_DROPDOWN_WITH_DYNAMIC_DEMO_3`, `MENU_VISIBLE`)"><span>Dropdown</span></a>
        </div>
        <span id="EXAMPLE_MENU_3">
            <span class="MENU-ITEM"><a>Action 1</a></span>
            <span class="MENU-ITEM"><a>Action 3</a></span>
            <hr class="EXAMPLE_DROPDOWN_ITEM_DIVIDER">
            <span class="MENU-ITEM"><a>Action 3</a></span>
            <span class="MENU-ITEM"><a>Action 4 with very very very very very long text</a></span>
        </span>
    </div>
    
    <ul class="EXAMPLE_BUTTON_DROPDOWN_MENU_STAND_ALONE">
        <li><a>Action 1</a></li>
        <li><a>Action 2</a></li>
        <li><a>Action 3 with a very long menu item text with a very long menu item text</a></li>
    </ul>

    <ul class="EXAMPLE_BUTTON_DROPDOWN_MENU_STAND_ALONE">
        <div class="EXAMPLE_DROPDOWN_ITEM">Action 1</div>
        <div class="EXAMPLE_DROPDOWN_ITEM">Action 2</div>
        <section class="EXAMPLE_DROPDOWN_ITEM_DIVIDER"></section>
        <span class="EXAMPLE_DROPDOWN_ITEM">Another Action Group 1</span>
        <span class="EXAMPLE_DROPDOWN_ITEM">Another Action Group 2 with a very long menu item text</span>
    </ul>

</section>
