<section class="display-flex">
    <ELEMENT class="EXAMPLE_BUTTON_SECONDARY"><i class="ICON_BOOK"></i> Label</ELEMENT>

    <ELEMENT class="EXAMPLE_BUTTON_GROUP_1abc">
        <BUTTON class="EXAMPLE_BUTTON_BASE"><i class="ICON_ALIGN_LEFT"></i></BUTTON>
        <BUTTON class="EXAMPLE_BUTTON_BASE"><i class="ICON_ALIGN_CENTER"></i></BUTTON>
        <BUTTON class="EXAMPLE_BUTTON_BASE"><i class="ICON_ALIGN_RIGTH"></i></BUTTON>
        <BUTTON class="EXAMPLE_BUTTON_BASE"><i class="ICON_ALIGN_JUSTIFY"></i></BUTTON>
    </ELEMENT>

    <div class="EXAMPLE_BUTTON_DROPDOWN_3 EXAMPLE_BUTTON_DROPDOWN_WITH_DYNAMIC_DEMO_2">
        <div class="EXAMPLE_GROUP_SOME_BUTTONS">
            <a class="EXAMPLE_BUTTON_PRIMARY"><i class="ICON_AVATAR"></i> Action</a>
            <a class="EXAMPLE_BUTTON_PRIMARY"><span><i class="ICON_CARET_DOWN"></i></span></a>
        </div>
    </div>

    <ELEMENT class="EXAMPLE_BUTTON_SECONDARY"><i class="FA_ANIMATED_SPINNER"></i> Waiting...</ELEMENT>

    <ELEMENT class="EXAMPLE_BUTTON_DANGER"><i class="FA_ICON_SYNC"></i>
        <ELEMENT class="LOADING_WIDGET_HERE"><!--
            --><i></i><i></i><i></i>
        </ELEMENT>
    </ELEMENT>

    <ELEMENT class="EXAMPLE_BUTTON_CUBE">
        <span class="MY_SUGAR_LOGO FONT_AWESOME_SPIN"></span>
        Stand by...
    </ELEMENT>
</section>
