<section class="display-flex">

    <ELEMENT class="EXAMPLE_BUTTON_GROUP_1">
        <BUTTON class="EXAMPLE_BUTTON_BASE">1</BUTTON>
        <BUTTON class="EXAMPLE_BUTTON_BASE">2</BUTTON>
        <BUTTON class="EXAMPLE_BUTTON_BASE">3</BUTTON>
        <BUTTON class="EXAMPLE_BUTTON_BASE">4</BUTTON>
        <BUTTON class="EXAMPLE_BUTTON_BASE">5</BUTTON>
    </ELEMENT>

    <ELEMENT class="EXAMPLE_BUTTON_GROUP_2">
        <a class="EXAMPLE_BUTTON_SECONDARY">left</a>
        <a class="EXAMPLE_BUTTON_SECONDARY">middle</a>
        <a class="EXAMPLE_BUTTON_SECONDARY">right</a>
    </ELEMENT>

</section>
